.box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  
}
.produto{
  border: solid 0.1em black;
  margin: 1em;
  padding: 1em;
  text-align: center;
}
.titulo{
  position: relative;
  font-size: 3em;
  font-weight: bold;
  color: rgb(38, 8, 135);
  text-align: center;
  padding: 4% 30%;
}
img {
  max-width: 300px;
  max-height: 300px;
}

h1{ 
  font-size: 1.5em;
  padding: 0.5em;

}
h2{
  font-size: 1.5em;
  color: rgb(44, 19, 90);
  font-weight: 700;
}
button{
  font-size: 1.3em;
  font-weight: 600;
  color: rgb(240, 240, 240);
  padding: 0.3em 0.5em;
  margin: 0.5em;
  background-color: rgb(83, 81, 125);
  border-radius: 10px;
}