<div class="caixa">
  <div class="info">
    <h1>Cerimônia e festa</h1>
    <br>
    <br>
    <h2>Restaurante Espaço Nutrir</h2>
    <br>
    <br>
    <p>Av. Afonso Delambert Neto, 853 - Lagoa da Conceição.</p>
    <p>Florianópolis - Santa Catarina.</p>
    <br>
    <br>
    <p>Telefone (48)99686-8850.</p>
    <br>
    <br>
    <h3>Horário: 16:00 horas.</h3>
    <br>
    <br>
    <img [src]="logoEspaco">
  </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113156.42002964891!2d-48.59878733955984!3d-27.589246977960148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95273eb711f2cf25%3A0x91005f248c39c659!2sEspa%C3%A7o%20Nutrir!5e0!3m2!1spt-BR!2sbr!4v1664575633502!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
