.box{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
}
img {
  width: 700px;
  border: 0.2em dashed rgb(8, 32, 104);
  margin: 2%;
}
.texto{
  text-align: center;
  width: 600px;
  padding: 2%;
}

h1{
  font-size: 3rem;
}

p{
  font-size: 2rem;
}

.nome {
  text-align: right;
}