<div class="box">
  <img [src]="imagemPonte">
  <div class="texto">
    <h1>Olá! Seja bem-vindo(a)!</h1>
    <br>
    <br>
    <p>Se você está aqui, deve ser uma pessoa muito especial para nós. Desta forma, estamos te convidando para participar do dia mais importante das nossas vidas. Eu e o Guilherme, gostaríamos muito da sua presença neste momento. O nosso casamento está sendo planejado para ser um evento íntimo, para nossos amigos e familiares mais próximos.</p> 
    <br>
    <br>
    <p>O evento não será religioso ou tradicional. Sugerimos que você venha à vontade, com traje casual, para aproveitar ainda mais a festa. A celebração será na Lagoa da Conceição, gostaríamos que você venha com roupas brancas, para entrar no clima planejado para este dia.</p>
    <br>
    <br>
    <p>Estamos ansiosos com a sua participação. Para confirmar a presença, clique no menu principal em "confirmar presença". Caso você tenha um acompanhante que não está na lista, entre em contato com a gente.</p>
    <br>
    <br>
    <p class="nome">Marina</p>
  </div>
</div>
